.aboutSection {
  padding: 70px 0px;
  background-color: rgba(163, 221, 250, 0.536);
}

.mainAbout {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 48%;
}

.left h4 {
  font-size: 24px;
  margin: 0px;
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.left h1 {
  font-size: 34px;
  margin: 0px;
}

.left p {
  font-size: 16px;
  line-height: 1.5;
}

.keyPointMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.keyPointMain li {
  width: 45%;
  padding: 10px 0px;
  margin-bottom: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  width: 80%;
}

.contactDetails {
  padding: 20px;
  border: 1px solid #eee;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.email {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
}

.icon span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dtl {
  margin-left: 10px;
}

.dtl span {
  font-size: 14px;
  color: var(--text-color);
}

.dtl h6 {
  margin: 5px auto;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}

.phone {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skillsetSection {
  padding: 70px 0px;
  background-color: rgba(240, 255, 255, 0.7);
}

.skillMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSkill {
  width: 48%;
}

.leftSkill h4 {
  font-size: 24px;
  margin: 0px;
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.leftSkill h1 {
  font-size: 34px;
  margin: 0px;
}

.leftSkill p {
  font-size: 16px;
  line-height: 1.5;
}

.rightSkill {
  width: 48%;
}

.dowloadBtn {
  border: 1px solid rgb(82, 82, 82);
  cursor: pointer;
  outline: none;
  background-color: #fff;
  padding: 13px 35px;
  font-size: 16px;
  border-radius: 5px;
  color: rgb(82, 82, 82);
  margin-top: 10px;
}

.educationSection {
  padding: 70px 0px;
  background-color: var(--background-color);
}

.educationMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.educationLeft {
  width: 48%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.educationLeft li {
  margin-bottom: 30px;
  border-left: 5px solid var(--primary-color);
  border-right: 5px solid var(--primary-color);
  background-color: #fff;
  padding: 20px 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.educationLeft h4 {
  margin: 0px;
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.educationLeft h6 {
  font-size: 16px;
  margin: 0px;
  color: var(--text-color);
  font-weight: normal;
}

.educationRight {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.educationRight img {
  width: 80%;
}

.experienceSection {
  padding: 70px 0px;
  background-color: rgba(208, 251, 221, 0.511);
}

.experienceMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.educationLeft h5 {
  font-size: 16px;
  color: var(--text-color);
  font-weight: normal;
  margin: 5px auto auto auto;
}

.listDetls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.listDetls span {
  font-size: 16px;
  color: var(--text-color);
}